{% load staticfiles %}
{% load i18n %}

<footer class="text-center">
    <div class="container">
        <h3>We are Pythonistas, {% trans "PyCon Korea 2020" %}</h3>
        <p>{% trans "PyCon Korea 2020 is a product of PyCon Korea Organizing Team." %}</p>
        <p>
            {% trans "Powered by Django" %}
        </p>
        <p style="">
            {% trans "서비스 이용 약관" %}
            <span>|</span>
            {% trans "개인정보 처리 방침" %}
            <span>|</span>
            {% trans "소식 받아보기" %}
        </p>
    </div>
</footer>
