{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<h3>{% trans "Login via Social Account" %}</h3>
<div class="alert alert-info" role="alert">
        {% trans "We store your social account id, mail address only. Never store password or any other personal information." %}
</div>
<p>
    <a class="btn btn-block btn-social btn-lg btn-github" href="{% url 'github_login' %}">
        <i class="fa fa-github"></i> {% trans "Sign in with GitHub" %}</a>
    <a class="btn btn-block btn-social btn-lg btn-facebook"  href="{% url 'facebook_login' %}">
        <i class="fa fa-facebook"></i> {% trans "Sign in with Facebook" %}</a>
</p>
{% endblock %}
