{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}

{% block title %}
    {% trans 'Talks schedule' %}
{% endblock %}

{% block content %}
    <script>
        const isSat = () => {
            document.getElementById("sat").classList.remove("disabled");
            document.getElementById("sun").classList.add("disabled");
            document.getElementById("is_sat").style.textDecoration = "underline";
            document.getElementById("is_sun").style.textDecoration = "none";
        };

        const isSun = () => {
            document.getElementById("sat").classList.add("disabled");
            document.getElementById("sun").classList.remove("disabled");
            document.getElementById("is_sat").style.textDecoration = "none";
            document.getElementById("is_sun").style.textDecoration = "underline";
        };
        window.onload = () => {
            {% if sunday %}
                isSun();
            {% else %}
                isSat();
            {% endif %}
        };
    </script>

    <ul class="days">
        <li id="is_sat" onclick="isSat()">9/26 (토)</li>
        <li id="is_sun" onclick="isSun()">9/27 (일)</li>
    </ul>
    <table class="disabled" id="sat">
        <tbody>
        <tr>
            <th>
                시간
            </th>
            <th>
                P 트랙
            </th>
            <th>
                Y 트랙
            </th>
            <th>
                C 트랙
            </th>
        </tr>
        {% for time, list in sat.items %}
            <tr>
                <th>
                    {{ time|date:"H:i" }}
                </th>
                {% for l in list %}
                    <td>{{ l.title }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="disabled" id="sun">
        <tbody>
        <tr>
            <th>
                시간
            </th>
            <th>
                O 트랙
            </th>
            <th>
                N 트랙
            </th>
        </tr>
        <tr>
            {% for time, list in sun.items %}
                <th>
                    {{ time|date:"H:i" }}
                </th>
                {% for l in list %}
                    <td>{{ l }}</td>
                {% endfor %}
            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}
