{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "공헌 안내" %}
{% endblock %}

{% block content %}
    <h3>{% trans "파이콘 한국에 공헌하는 다양한 방법" %}</h3>
    <p>
        {% trans "파이콘 한국에는 발표, 키노트 발표자 추천 등 다양한 형태로 공헌할 수 있습니다. 각 항목은 아래와 같은 일정으로 모집합니다." %}
    </p>
    <p><br></p>

    <table class="items" id="contribution" style="width: 85%;">
        <colgroup>
            <col width="30%">
            <col width="30%">
            <col width="20%">
            <col width="20%">
        </colgroup>
        <thead></thead>
        <tbody>
        <tr>
            <th>{% trans "발표안 제안" %}</th>
            <td>{{ cfp_open|date:_("n월 j일 (D)") }} - {{ cfp_close|date:_("n월 j일 (D)") }}</td>
            {% if now < cfp_open %}
                <td>{% trans "준비 중입니다." %}</td>
                <td><a class="endBtn" href="/2020/contribution/cfp/">{% trans "준비 중" %}</a></td>
            {% elif now < cfp_close %}
                <td>{% trans "진행 중입니다." %}</td>
                <td><a class="ingBtn" href="/2020/contribution/cfp/">{% trans "진행 중" %}</a></td>
            {% else %}
                <td>{% trans "마감되었습니다." %}</td>
                <td><a class="endBtn" href="/2020/contribution/cfp/">{% trans "종료" %}</a></td>
            {% endif %}
        </tr>
        <tr>
            <th>{% trans "키노트 발표자 추천" %}</th>
            <td>{{ keynote_start_at|date:_("n월 j일 (D)") }} - {{ keynote_end_at|date:_("n월 j일 (D)") }}</td>
            {% if now < keynote_start_at %}
                <td>{% trans "준비 중입니다." %}</td>
                <td><a class="endBtn" href="/2020/contribution/recommending-keynote/">{% trans "준비 중" %}</a></td>
            {% elif now < keynote_end_at %}
                <td>{% trans "진행 중입니다." %}</td>
                <td><a class="ingBtn" href="/2020/contribution/recommending-keynote/">{% trans "진행 중" %}</a></td>
            {% else %}
                <td>{% trans "마감되었습니다." %}</td>
                <td><a class="endBtn" href="/2020/contribution/recommending-keynote/">{% trans "종료" %}</a></td>
            {% endif %}
        </tr>
        <tr>
            <th>{% trans "발표 제안 검토하기" %}</th>
            <td>{{ review_start_at|date:_("n월 j일 (D)") }} - {{ review_finish_at|date:_("n월 j일 (D)") }}</td>
            {% if now < review_start_at %}
                <td>{% trans "준비 중입니다." %}</td>
                <td><a class="endBtn" href="/2020/contribution/review-talk-proposal/">{% trans "준비 중" %}</a></td>
            {% elif now < review_finish_at %}
                <td>{% trans "진행 중입니다." %}</td>
                <td><a class="ingBtn" href="/2020/contribution/review-talk-proposal/">{% trans "진행 중" %}</a></td>
            {% else %}
                <td>{% trans "마감되었습니다." %}</td>
                <td><a class="endBtn" href="/2020/contribution/review-talk-proposal/">{% trans "종료" %}</a></td>
            {% endif %}
        </tr>
        <tr>
            <th>{% trans "라이트닝 토크 신청" %}</th>
            <td>{{ lightning_talk_open|date:_("n월 j일 (D)") }} - {{ lightning_talk_close|date:_("n월 j일 (D)") }}</td>
            {% if now < lightning_talk_open %}
                <td>{% trans "준비 중입니다." %}</td>
                <td><a class="endBtn" href="">{% trans "준비 중" %}</a></td>
            {% elif now < lightning_talk_close %}
                <td>{% trans "진행 중입니다." %}</td>
                <td><a class="ingBtn" href="">{% trans "진행 중" %}</a></td>
            {% else %}
                <td>{% trans "마감되었습니다." %}</td>
                <td><a class="endBtn" href="">{% trans "종료" %}</a></td>
            {% endif %}
        </tr>
        </tbody>
    </table>
    <p><br></p>

    <h2>{% trans "문의" %}</h2>
    <p><a href="mailto:program@pycon.kr" target="_blank">program@pycon.kr</a></p>
{% endblock %}