{% extends "base.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}
{% trans "발표 제안 검토하기" %}
{% endblock %}

{% block content %}

{% if not reviews %}
    {% if is_language %}
        {% if is_empty %}
            <div class="alert alert-warning" role="alert">
                <p>
                    {% trans '선택한 언어와 카테고리에 조건에 맞는 발표 제안이 없습니다.' %}
                    {% trans '다른 조건으로 검색해주세요.' %}
                </p>
                <p>{% trans '(본인이 제안한 발표는 리뷰할 수 없습니다.)' %}</p>
            </div>
        {% endif %}
        {% crispy select_language %}
    {% else %}
        {% crispy select_category %}
    {% endif %}
{% endif %}

{% if reviews %}
    <p>{% trans '본인에게 할당된 CFP에 대한 리뷰를 작성해주세요. 모든 리뷰를 작성해야 제출하실 수 있습니다.' %}</p>
    <div style="padding: 20px 0;">
        {% for review in reviews %}
        <section>
            <h4>{% trans "Title" %}</h4>
            <a href="{% url 'openreview-update' review.id %}">{{ review.proposal.title }}</a>
            {% if review.has_comment %}
                <span style="display: inline-block; vertical-align: top; margin-left: 6px; padding: 0 4px; background-color: #e2fae6; color: #39af4d; font-size: 0.85rem; border: 1px solid #39af4d; border-radius: 8px;">{% trans "완료" %}</span>
            {% endif %}
            <hr />
        </section>
        {% endfor %}
    </div>
    <div class="a_btn_container">
        {% if all_reviewed %}
        <a class="a_btn" href="{% url 'openreview-result' %}">{% trans "제출하기" %}</a>
        {% else %}
        <a class="a_btn disable" href="#">{% trans "제출하기" %}</a>
        {% endif %}
    </div>
{% endif %}

{% endblock %}