{% extends "base.html" %}
{% load i18n %}

{% block head-title %}{{ block.super }} {% trans "Program" %} | {{ program.name }}{% endblock %}
{% block og-title %}{{ program.name }}{% endblock %}
{% block og-desc %}{{ program.desc|striptags|safe }}{% endblock %}
{% block title %}{{ program.name }}{% endblock %}

{% block content %}

<ul class="list-group">
  {% if program.category %}
  <li class="list-group-item">
    <span class="glyphicon glyphicon-tag"></span> {{ program.category }}
  </li>
  {% endif %}

  {% if program.difficulty %}
  <li class="list-group-item">
    <span class="glyphicon glyphicon-pencil"></span>
      {% if program.difficulty == 'B' %}{% trans "Difficulty Beginner" %}
      {% elif program.difficulty == 'I' %}{% trans "Difficulty Intermediate" %}
      {% elif program.difficulty == 'E' %}{% trans "Difficulty Experienced" %}
      {% endif %}
  </li>
  {% endif %}

  {% if program.video_open_at %}
  <li class="list-group-item">
    <span class="glyphicon glyphicon-time"></span> {{ program.video_open_at }}
  </li>
  {% endif %}
  <li class="list-group-item">
    <span class="glyphicon glyphicon-volume-up"></span> {{ program.get_language_display }}
  </li>
</ul>

{% if program.slide_url %}
<h3>{% trans "Slide" %}</h3>
    {{ program.slide_url | urlize }}
{% endif %}

{% if program.video_url %}
<h3>{% trans "Video" %}</h3><br>
{{ program.video_url | urlize }}<br>
{% endif %}

{% if program.desc %}
<h3>{% trans "Description" %}</h3><br>
{{ program.desc | safe }}<br>
{% endif %}

{% if editable %}
    <div class="a_btn_container">
        <a href="{% url "talk-update" pk=program.pk %}" class="a_btn large">{% trans "Edit" %}</a>
    </div>
{% endif %}
{% endblock %}
