{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load staticfiles %}

{% block title %}
    {% trans '발표' %}
{% endblock %}

{% block content %}
    {% if not accepted_exist or not is_open %}
        <h4 class="text-center">{% trans "Ready for content" %}</h4>
    {% else %}
        {% for category in object_list %}
            {% if category in having_program %}
                <h3>{{ category.name }}</h3>
                <ul class="programs">
                    {% for proposal in category.proposal_set.all %}
                        {% if proposal.accepted %}
                            <li>
                                <a href="{% url 'talk' pk=proposal.pk %}">
                                    <div class="head">
                                        {% if proposal.user.profile.image_small %}
                                            <span class="program_image"><img class="media-patron" src="{{ proposal.user.profile.image_small.url }}"
                                                 alt="photo of {{ proposal.user.profile.name }}"></span>
                                        {% else %}
                                            <span class="program_image"><img class="media-patron" src="{% static 'image/anonymous.png' %}"></span>
                                        {% endif %}
                                    </div>
                                    <div class="body">
                                        <h4 class="name">
                                            {{ proposal.user.profile.name }}
                                            {% if proposal.user.profile.organization %}
                                                / {{ proposal.user.profile.organization }}
                                            {% endif %}
                                        </h4>
                                        <div class="bio">
                                            {{ proposal.title }}
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
