{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sprint" %}{% endblock %}
{% block content %}

<p>
    {% trans "스프린트는 관심있는 오픈소스 프로젝트를 같은 장소에 모여 집중적으로 개발하는 자리입니다. 새로운 동료를 만나고, 오픈소스에서 얻을 수 있는 경험과 지식을 나눌 수 있는 시간입니다. 처음 참여하신다고요? 문제 없습니다. 해당 프로젝트를 주도적으로 개발하는 분에게 배울 수 있는 시간이 될 것입니다." %}
</p>
<p>
    {% trans "스프린트는 파이썬 뿐만 아니라 모든 언어의 오픈소스 프로젝트를 대상으로 진행됩니다." %}
</p>
<h2>{% trans "Sprint list" %}</h2>
<ul>
  {% for sprint in sprints %}
  <li>
    <span class="label label-info">{{ sprint.get_type_display }}</span>
    <a href="{{ sprint.get_absolute_url }}">{{ sprint.title }}</a>
    {% if sprint.id in joined_sprints %}
    <span class="badge">{% trans "Joined" %}</span>
    {% endif %}
  </li>
  {% endfor %}
</ul>
<h3>{% trans "Contact" %}</h3>
<p><a href="mailto:program@pycon.kr" target="_blank">program@pycon.kr</a></p>
{% endblock %}
