{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "후원사로 참여하기" %}{% endblock %}

{% block content %}
<h2>{% trans "일정" %}</h2>
<table>
  <colgroup>
    <col width="50%" />
    <col width="50%" />
  </colgroup>
  <tbody>
    <tr>
      <td class="header">
        {% trans "후원사 모집 시작" %}
      </td>
      <td>{{ CFS_start_at|date:_("Y년 F j일 (D) H:i") }}</td>
    </tr>
    <tr>
      <td class="header">
        {% trans "후원사 모집 종료" %}
      </td>
      <td>{{ CFS_finish_at|date:_("Y년 F j일 (D) H:i") }}</td>
    </tr>
  </tbody>
</table>

<h2>{% trans "등급별 잔여 구좌수" %}</h2>
<table>
    <tbody>
        <tr>
            <td class="header">{% trans "등급" %}</td>
            {% for name, remain in remains.items %}
                <td class="header">{{ name }}</td>
            {% endfor %}
            <td class="header no-limit">{% trans "커뮤니티" %}</td>
            <td class="header no-limit">{% trans "출판사" %}</td>
        </tr>
        <tr>
            <td class="header">{% trans "잔여 구좌수" %}</td>
            {% for name, remain in remains.items %}
                <td>{{ remain }}</td>
            {% endfor %}
            <td class="no-limit">{% trans "제한 없음" %}</td>
            <td class="no-limit">{% trans "제한 없음" %}</td>
        </tr>
    </tbody>
</table>

<h2>
  {% trans "선정 절차" %}
</h2>
<p>
  {% trans "후원사 신청 이후 선정 절차는 아래와 같으며, 관련 안내는 파이콘 홈페이지 또는 이메일로 진행됩니다." %}
</p>
<ol>
  <li>
    {% trans "후원사에서 파이콘 한국 홈페이지를 통해 후원사 신청을 합니다." %}
  </li>
  <li>
    {% trans "파이콘 한국 준비위원회에서 접수해주신 신청서에 대해 필수 정보 중 빠지거나 잘못 기입된 정보가 있는지 확인합니다." %}
  </li>
  <ul>
    <li>
      {% trans "빠지거나 잘못 기입된 정보가 있는 경우에는 추가적인 정보나 수정을 요청할 수 있습니다." %}
    </li>
  </ul>
  <li>
    {% trans "후원사 신청서에 대한 검토가 끝나면 후원 금액을 입금할 계좌를 안내해드립니다." %}
  </li>
  <ul>
    <li>
      {% trans "표기된 후원 금액은 <b>부가세가 포함되지 않은</b> 금액입니다." %}
    </li>
    <li>
      {% trans "후원금을 입금하실 때에는 <b>부가세 10%를 가산</b>하여 입금해주셔야 합니다." %}
    </li>
  </ul>
  <li>
    {% trans "후원 금액이 정상적으로 입금된 것을 준비위원회에서 확인하면 후원사로 확정됩니다." %}
  </li>
  <li>
    {% trans "전자세금계산서가 우선적으로 필요하신 경우 전자세금계산서 발행용 이메일 주소를 기록하여 계산서 발행을 요청해주시기 바랍니다." %}
  </li>
</ol>

<div class="alert alert-warning" role="alert">
  <a href="/2020/sponsor/prospectus/" target="_blank">
    {% trans "📙제안서를 작성하시기 전에 후원사 모집 안내를 꼭 읽어주세요." %}
  </a>
</div>

<div class="a_btn_container">
  <a class="a_btn large" href="/2020/sponsor/join/form/"
    >{% trans "후원사로 참여하기" %}</a
  >
</div>

<h2>{% trans "문의" %}</h2>
<p><a href="mailto:sponsor@pycon.kr" target="_blank">sponsor@pycon.kr</a></p>
{% endblock %}
