{% extends "base.html" %}
{% load i18n %}

{% block head-title %}{{ block.super }} {% trans "Sponsor" %} | {{ sponsor.name }}{% endblock %}
{% block og-title %}{{ block.super }} {% trans "Sponsor" %} | {{ sponsor.name }}{% endblock %}
{% block og-image %}{{ sponsor.logo_image.url }}{% endblock %}
{% block nav %}{% include "nav.html" with title=sponsor.name %}{% endblock %}
{% block title %}{{ sponsor.name }}{% endblock %}

{% block content %}
<div class="sponsor">
    <img src="{{ sponsor.logo_image.url }}" alt="{{ sponsor.name }}">
    <ul class="list-group">
        <li class="list-group-item">
        <span class="glyphicon glyphicon-tag"></span> {{ sponsor.level }}
        </li>
        <li class="list-group-item">
        <span class="glyphicon glyphicon-share-alt"></span> {{ sponsor.url|urlize }}
        </li>
    </ul>
    <div>
        {{ sponsor.desc|safe }}
    </div>
    {% if is_proposal_detail is True %}
    <div>
        <ul class="list-group">
            <li class="list-group-item">
                <span>아래의 내용은 후원사로 신청하신 분에게만 보입니다.</span>
            </li>
            <li class="list-group-item">
                <span class="glyphicon glyphicon-user"></span> {{ sponsor.manager_name }}
            </li>
            <li class="list-group-item">
                <span class="glyphicon glyphicon-comment"></span> {{ sponsor.manager_email }}
            </li>
            <li class="list-group-item">
                <span class="glyphicon glyphicon-briefcase"></span> {{ sponsor.business_registration_number }}
            </li>
            <li class="list-group-item">
                <span class="glyphicon glyphicon-briefcase"></span> 사업자등록증
                <img src="{{ sponsor.business_registration_file.url }}">
            </li>
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}
