{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% if is_manager %}
        <div class="alert alert-info" role="alert">
            {% trans "Virtual booth는 9월 21일 월요일에 참가자들에게 공개됩니다." %}<br>
            {% trans "파이콘 한국 2020의 후원사 담당자들은 다른 후원사의 virtual booth를 볼 수 있습니다." %}
        </div>
    {% endif %}
    <script>
        $(document).ready(function () {
            $('.slider').slick({
                centerMode: true,
                slidesToShow: 3,
                centerPadding: '100px',
            })
        })
    </script>
    {% if is_empty %}
        <h4 class="text-center">{% trans "Ready for content" %}</h4>
    {% else %}
        {% if not is_opened and not is_manager %}
            <h4 class="text-center">{% trans "Ready for content" %}</h4>
        {% else %}
            <div class="card">
                <div class="slider">
                    {% for lvl in levels %}
                        {% if lvl.order < 5 %}
                            {% for sponsor in lvl.sponsor_set.all %}
                                {% if sponsor.logo_image and sponsor.paid_at is not None %}
                                    <a class="item" href="{% url 'virtual_booth' slug=sponsor.slug %}">
                                        <div class="item-inner">
                                            <div class="img-container">
                                                <img src="{{ sponsor.logo_image.url }}" alt="{{ sponsor.name }}">
                                            </div>
                                            <h4>{{ sponsor.name }}</h4>
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
