{% extends "base.html" %}
{% load i18n %}

{#{% block head-title %}{{ block.super }} {% trans "Sponsor" %} | {{ sponsor.name }}{% endblock %}#}
{#{% block og-title %}{{ block.super }} {% trans "Sponsor" %} | {{ sponsor.name }}{% endblock %}#}
{#{% block og-image %}{{ sponsor.logo_image.url }}{% endblock %}#}
{#{% block nav %}{% include "nav.html" with title=sponsor.name %}{% endblock %}#}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="tiles">
        <a class="tile" id="keystone" style="background-image: url('https://www.classian.co.kr/news/photo/202003/4420_6214_487.jpg')">
          KeyStone
        </a>
        <a class="tile">
            Sponsor
        </a>
        <a class="tile">
            Sponsor
        </a>
        <a class="tile">
            Sponsor
        </a>
        <a class="tile">
            Sponsor
        </a>
    </div>
{% endblock %}
