{% extends "base.html" %}
{% load i18n %}

{% block head-title %}{{ block.super }} {% trans "Sponsor" %} | {{ sponsor.name }} | Virtual Booth{% endblock %}
{% block og-title %}{{ block.super }} {% trans "Sponsor" %} | {{ sponsor.name }} | Virtual Booth{% endblock %}
{% block title %}{{ sponsor.name }}{% endblock %}

{% block content %}
    {% autoescape off %}
        {{ sponsor.virtual_booth_content|default_if_none:"<br>" }}
    {% endautoescape %}
    {% if is_editable %}
        <div class="a_btn_container">
          <a class="a_btn" href="{% url 'virtual_booth_update' slug=sponsor.slug %}">{% trans "수정하기" %}</a>
        </div>
    {% endif %}
{% endblock %}
