{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <style>
        .footer {
            font-size: xx-small
        }
    </style>
</head>
<body>
<div style="width: 600px;">
    <p>{% trans '파이콘 한국 2020에 등록해주셔서 감사합니다.' %}</p>
    <p>{% trans '파이콘 한국 2020은 9/26(토) - 9/27(일) 온라인으로 진행됩니다.' %}</p>

    <p>{% trans '티켓은 홈페이지의 <a href="https://www.pycon.kr/2020/profile/" target="_blank">프로필</a>에서 확인하실 수 있습니다.' %}</p>

    <img src="{% static 'image/2020-logo-opacity.png' %}" style="width: 50%; margin-top: 2rem;">
    <p class="footer">{% trans '파이콘 한국은 커뮤니티 주관으로 이뤄지는 비영리 행사입니다.' %}</p>
    <p class="footer">{% trans '파이콘 한국 준비위원회는 건강한 국내 파이썬 생태계에 지속적인 보탬이 되고자, 커뮤니티 멤버들의 자발적인 봉사로 운영되고 있습니다.' %}</p>
    <p class="footer">{% trans '파이콘 한국은 발표자, 준비위원회 등 모든 인원이 금전적 이득 없이 순수히 오픈소스 프로그래밍 언어인 파이썬의 저변 확대와 커뮤니티 활성화를 위해 진행하는 행사입니다.' %}</p>
</div>
</body>
</html>