@media (max-width: 767px) {
  .navbar {
    top: 0px;
    width: 100%;
    z-index: 50;

    .navbar-toggle {
      position: fixed;
      z-index: 100;
      top: 12px;
      right: 12px;
      margin: 0;
      background: rgba(255, 255, 255, 0.95);
    }

    .navbar-collapse {
      background: rgba(255, 255, 255, 0.98);
      top: 0px;
      position: fixed;
      width: 100%;
      min-height: 1024px;
      max-height: 1024px;
    }

    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a:focus {
      border-bottom: none;
      background-color: #aaa;
    }
  }

  .navbar-nav {
    margin-top: 4px;
  }

  .navbar-translucent {
    .navbar-toggle {
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
    }
    .navbar-collapse {
      z-index: 10;
      background: rgba(0, 0, 0, 0.9);
    }
    .dropdown-menu > li > a {
      color: #fff;
    }
    .nav > li > a:hover,
    .nav > li > a:focus,
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
      background-color: #555;
    }
  }

  .navbar-nav > li > a {
    padding: 10px 0 15px 15px;
    font-size: 1.5rem;
    line-height: 30px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    font-size: 1.2rem;
    line-height: 30px;
  }
  .frontpage .sky {
    height: 425px;
  }
  .footer .col {
    text-align: center;
  }
  .titlebar h1 {
    font-size: 2rem;
  }
  .sponsor img {
    max-width: 100%;
  }

  .sticky-footer {
    padding: 0 10px 24px 10px;
    height: 64px;
    .coc {
      padding: 0 8px;
      a {
        font-size: 0.75rem;
      }
    }

    .snslinks {
      a {
        padding: 4px 4px;
      }
      svg {
        width: 18px;
      }
    }
  }

  table {
    margin: 1rem auto;
    .no-limit {
      display: none;
    }
    td {
      padding: 0 3px;
    }

    &#contribution {
      tbody > tr > td:nth-child(3) {
        display: none;
      }
    }
  }

  ol,
  ul {
    padding-inline-start: 20px;
  }

  .sponsors {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
  }

  .card {
    display: none;
  }

  .tiles {
    display: block;
  }

  .quick_btns {
    flex-wrap: wrap;
    top: -17rem;

    .quick_btn {
      font-size: 1rem;
      width: 100%;
      height: 45%;
      margin-top: 0.5rem;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .ticket_container {
    height: 31.5rem;
    width: 80%;

    .ticket-top,
    .ticket-bottom {
      height: 3rem;
    }

    .ticket {
      position: static;
      width: 85%;
      height: 25.5rem;

      .badge-img {
        position: static;
        width: 70%;
        height: auto;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }

      .ticket-title {
        font-size: 1.5rem;
        height: auto;
        display: block;
        margin-left: 0;
        text-align: center;
        position: static;
        padding-top: 0;
      }

      .ticket-desc {
        margin-top: 1rem;
        height: auto;
        display: block;
        padding: 0;
        line-height: 0;

        ul {
          left: 1rem;
          top: 0;
          padding-top: 0.5rem;
          margin-bottom: 0;
        }

        .price-box {
          padding-top: 0.5rem;
          padding-right: 0.5rem;
          .price {
            font-size: 1.5rem;
          }
        }
      }

      .ticket-buy-container {
        align-items: center;
        justify-content: center;
        height: 3rem;

        .ticket-buy-btn {
          width: 85%;
          height: 66%;
          margin: 0;
          font-size: 1rem;
        }
      }

      .my-ticket-info {
        width: 100%;
        height: auto;
        margin: 1rem 0;
        padding-left: 1rem;
        padding-right: 1rem;
        word-break: keep-all;

        & > div {
          font-size: 1rem;
          text-align: center;
          margin: 0 auto;
        }
      }
    }

    .ticket-bottom {
      .logo {
        width: 100%;
      }
    }

    &#patron_ticket .price-box {
      font-size: 0.9rem;
      .prev_price,
      .price {
        font-size: 0.9rem;
      }
    }
  }

  #to-top-btn {
    bottom: 5rem;
    span {
      display: none;
    }
    border-radius: 100px;
    &::before {
      line-height: 0.7;
      font-size: 1rem;
      margin-right: 2px;
    }
  }

  .keynotes > .head > img {
    width: 75%;
  }

  iframe {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 640px) {
  .frontpage .slogan h1 {
    font-size: 4rem;
  }
  .frontpage .slogan h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .frontpage .sky {
    height: 340px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container > .navbar-header,
  .container > .navbar-collapse {
    margin-left: -5px;
    margin-right: -5px;
  }

  .frontpage .slogan h1 {
    font-size: 3rem;
    margin-top: 30px;
  }
  .frontpage .slogan h3 {
    font-size: 1rem;
  }

  .well {
    margin: 14px -12px;
  }

  .jobfair dt img {
    width: auto;
    height: 32px;
  }

  .box-slick {
    width: 100%;
    padding: 30px 20px;
  }

  .box-section {
    padding: 10px;
    font-size: 14px;
  }

  .ticket-left {
    width: 10em;
  }
}

@media (min-width: 768px) {
  .container {
    width: auto;
  }
}

@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1024px;
  }
}
