{% extends "mail_templated/base.tpl" %}
{% load i18n %}
{% block subject %}
{% trans "파이콘 한국 2020에 가입하신 걸 환영합니다 :)" %}
{% endblock %}

{% block html %}
<p>{% trans "안녕하세요," %} {{user.username}}{% trans "님." %}</p>
<p>
    {% trans "파이써니스타들의 축제 파이콘 한국 2020 홈페이지에 찾아와 주셔서 진심으로 환영합니다." %}
</p>
<p>
    {% trans "올해도 파이써니스타들이 빛날 수 있는 파이콘 한국을 만들기 위해 준비위원회 모두 최선을 다하겠습니다." %}
</p>
<p>
    {% trans "파이콘 한국 2020은 <b>9월 26-27일</b>, 총 2일간 진행됩니다." %}<br/>
{#    <ul>#}
{#        <li>{% trans "장소 : 삼성동 코엑스 그랜드볼룸" %}</li>#}
{#    </ul>#}
    {% trans "행사와 관련된 정보는 <a href='http://www.pycon.kr/2020/'>http://www.pycon.kr/2020/</a>에서 확인하실 수 있습니다." %}<br/>
    <br/>
</p>
{% endblock %}
