{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}
    {% trans 'Ticket list' %}
{% endblock %}

{% block content %}
    <p>{% trans '파이콘 한국 2020 티켓은 아래와 같은 종류로 판매됩니다. 파이콘 한국 2020은 YouTube를 통해 진행됨에 따라 티켓은 온라인 컨퍼런스 참여에 필수 사항이 아닙니다.' %}</p>
    <ul>
        <li>{% trans '일반 티켓 (무료)' %}</li>
        <li>{% trans '개인 후원 티켓 (8만 원 이상 자율)' %}</li>
        <li>{% trans '티켓 구매와 별도로 파이콘 한국 2020 한정판 티셔츠만 구매하실 수도 있습니다.' %} <a href="{{ patron_url|default:"#" }}">{% trans '여기서!' %}</a></li>
    </ul>
    {% if ticket_available == -1 %}
        <h4 class="text-center">{% trans "Ready for content" %}</h4>
    {% else %}
        <h3>{% trans '일반 티켓' %}</h3>
        <div class="ticket_container">
            <div class="ticket-top"></div>
            <div class="ticket">
                <div class="badge-img">
                    <img src="{% static 'image/badge.png' %}" alt="PyCon Korea 2020"/>
                </div>
                <div class="ticket-title">
                    {% trans '일반 티켓' %}
                </div>
                <div class="ticket-desc">
                    <ul>
                        <li>{% trans '기간: 9월 26-27일 (토-일)' %}</li>
                        <li>{% trans 'CoC를 꼭 지켜주세요.' %}</li>
                        <li>{% trans 'YouTube link' %}</li>
                    </ul>
                    <div class="price-box">
                        <div class="prev_price">&#8361;70,000</div>
                        &nbsp;->&nbsp;
                        <div class="price">{% trans '무료' %}</div>
                    </div>
                </div>
                <div class="ticket-buy-container">
                    {% if ticket_available == 1 %}
                        <div class="ticket-buy-btn disabled">{% trans '판매 종료' %}</div>
                    {% else %}
                        {% if already_buy %}
                            <div class="ticket-buy-btn disabled">{% trans '구매함' %}</div>
                        {% else %}
                            <a class="ticket-buy-btn" href="{% url 'registration_index' %}">{% trans '구매하기' %}</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="ticket-bottom">
                <div class="logo">
                    <img src="{% static 'image/pycon_logo_white.png' %}" alt="PyCon Korea 2020"/>
                </div>
            </div>
        </div>

        <p>
            {% trans '일반 티켓은 9월 24일 목요일 23시 59분까지 판매됩니다.' %}
            {% trans '일반 티켓을 구매하신 분들에게는 행사와 관련된 후원사 정보, 이벤트 등에 대해 메일을 통해 알려드립니다. (선택적)' %}
        </p>
        <p>
            {% trans '또한 행사 기간 동안 운영되는 참가자용 슬랙에 초대드릴 예정입니다.' %}
        </p>

        <h3 id="patron">{% trans '개인 후원 티켓' %}</h3>
        <div class="ticket_container" id="patron_ticket">
            <div class="ticket-top"></div>
            <div class="ticket">
                <div class="badge-img">
                    <img src="{% static 'image/badge.png' %}" alt="PyCon Korea 2020"/>
                </div>
                <div class="ticket-title">
                    {% trans '개인 후원 티켓' %}
                </div>
                <div class="ticket-desc">
                    <ul>
                        <li>{% trans '기간: 9월 26-27일 (토-일)' %}</li>
                        <li>{% trans 'CoC를 꼭 지켜주세요.' %}</li>
                        <li>{% trans 'YouTube link' %}</li>
                    </ul>
                    <div class="price-box">
                        <div class="prev_price">&#8361;150,000</div>
                        &nbsp;->&nbsp;
                        <div class="price">{% trans '8만 원 이상' %}</div>
                    </div>
                </div>
                <div class="ticket-buy-container">
                    {% if patron_available == 1 %}
                        <div class="ticket-buy-btn disabled">{% trans '판매 종료' %}</div>
                    {% else %}
                        <a class="ticket-buy-btn" href="{{ patron_url|default:"#" }}"
                           target="_blank">{% trans '구매하기' %}</a>
                    {% endif %}
                </div>
            </div>
            <div class="ticket-bottom">
                <div class="logo">
                    <img src="{% static 'image/pycon_logo_white.png' %}" alt="PyCon Korea 2020"/>
                </div>
            </div>
        </div>

        <p>
            {% trans '파이콘은 참가하는 "모든" 사람(준비위원회, 자원봉사자, 발표자까지)이 티켓을 구매하는 것을 원칙으로 합니다.' %}
            {% trans '그렇게 하여 모든 참가자들이 정당한 가격을 지불하고 동등한 자격으로 행사의 일부가 되도록 하는 것이 파이콘의 중요한 철학 중 하나입니다. [<a href="http://blog.pycon.kr/2017/06/14/everybody-pays/" target="_blank">Everybody Pays</a>]' %}
        </p>
        <p>
            {% trans '이번 파이콘 한국 2020은 온라인 컨퍼런스로 진행되어 티켓 가격이 무료입니다.' %}
            {% trans '후원 금액은 작년 행사까지는 금전적인 이유로 파이콘에 참가하기 힘든 분께 지원하는 것을 최우선으로 사용하였고, 이후 여분의 금액이 발생할 시에는 내년 파이콘을 위한 예산 확보, 파이콘 행사 진행 시 필요한 사전 예산 집행 등 파이콘 행사를 위해서만 사용되었습니다. 올 행사에서는 마찬가지로 파이콘 행사 진행, 영상 편집, 자막 작업, 번역 등 예산 집행에 사용될 예정입니다.' %}
        </p>
        <p>
            {% trans '개인 후원 티켓을 구매하신 분들은 홈페이지의 <a href="/2020/about/patron/">개인 후원자 목록</a>에 본인이 표시됩니다.' %}
            {% trans '또한 개인 후원 티켓 구매가 아니라 <b>티셔츠만 구매하실 수도 있습니다!</b> 이 경우에는 홈페이지에 티켓 표시가 되지 않습니다.' %}
        </p>
    {% endif %}

{% endblock %}
