{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}
    {% trans 'Ticket list' %}
{% endblock %}

{% block content %}
    {% if ticket_available == -1 %}
        <h4 class="text-center">{% trans "Ready for content" %}</h4>
    {% else %}
    <div class="ticket_container">
        <div class="ticket-top"></div>
        <div class="ticket">
            <div class="ticket-title">
                {% trans '일반 티켓' %}
                <img src="{% static 'image/badge.png' %}" alt="PyCon Korea 2020" />
            </div>
            <div class="ticket-desc">
                <ul>
                    <li>기간: 토-일</li>
                    <li>CoC 준수 필수</li>
                </ul>
                <div class="price-box">
                    <div class="prev_price">&#8361;70,000</div>
                    &nbsp;->&nbsp;
                    <div class="price">{% trans '무료' %}</div>
                </div>
            </div>
            <div class="ticket-buy-container">
                {% if ticket_available == 1 %}
                    <div class="ticket-buy-btn disabled">{% trans '판매 종료' %}</div>
                {% else %}
                    {% if already_buy %}
                        <div class="ticket-buy-btn disabled">{% trans '구매함' %}</div>
                    {% else %}
                        <a class="ticket-buy-btn" href="{% url 'registration_index' %}">{% trans '구매하기' %}</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="ticket-bottom">
            <div class="logo">
                <img src="{% static 'image/pycon_logo_white.png' %}" alt="PyCon Korea 2020"/>
            </div>
        </div>
    </div>
    <div class="ticket_container">
        <div class="ticket-top"></div>
        <div class="ticket">
            <div class="ticket-title">
                {% trans '개인 후원 티켓' %}
                <img src="{% static 'image/badge.png' %}" alt="PyCon Korea 2020" />
            </div>
            <div class="ticket-desc">
                <ul>
                    <li>기간: 토-일</li>
                    <li>CoC 준수 필수</li>
                </ul>
                <div class="price-box">
                   <div class="prev_price">&#8361;150,000</div>
                    &nbsp;->&nbsp;
                    <div class="price">{% trans '10만 원 이상' %}</div>
                </div>
            </div>
            <div class="ticket-buy-container">
                {% if patron_available == 1 %}
                    <div class="ticket-buy-btn disabled">{% trans '판매 종료' %}</div>
                {% else %}
                    <a class="ticket-buy-btn" href="{{ patron_url }}">{% trans '구매하기' %}</a>
                {% endif %}
            </div>
        </div>
        <div class="ticket-bottom">
            <div class="logo">
                <img src="{% static 'image/pycon_logo_white.png' %}" alt="PyCon Korea 2020"/>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}
